<div class="about">
  <p> Machi Travellers ld is a luxury coach company incorporated on 26th May 2007<br/> 
  operating with the Northern part of Kenya. It is one of the most recognized luxury<br/>
  bus company operating in the region. The company has branches in every town <br/>
  along the way</p>
  <p>The main office is on Eastleigh Second Avenu in the  Total petrol station,<br/>
     next to Aswan restaurant.</p>
  <p>The company started with a fleet of 6 brand new Scania buses and currently has<br/>
     a fleet of over 60 state of the art coaches. There are more than ten daily services<br/>
      of the air-conditioned buses from Nairobi all the way to moyale with the rest being<br/> 
      the non air-conditioned services. </p>
       
    </div>

<div class="">
  <h1>OUR VALUES</h1>
  <p>Defines the universal code of conduct at Machi Transpoters,<br/>
    that each one of us promise to practise,in our Speech and Action!<br/>
    These are the baseline criteria for being a part of the team. </p>
    <h1>Making a Difference</h1>
    <p>We cause positive change</p>
    <h1>Commitment</h1>
    <p>We deliver as promised</p>
</div>
