.logo{
    font-size: 25px;
    background-color: aqua;
    height: 60px;
}
.tabs{
    background-color: aquamarine;
    height: 40px;   
    

}

.tabs a{
    text-decoration: none;
    margin: 12px;
    margin-left: 80px;
    text-align: center;
    padding-top: 3px;
    position: relative;
    margin-top: 15px;
    
    
    
}
.tabs a:hover{
    color: chartreuse;
    transform: none;
    
}
.tabs a:active {
    color: chartreuse;
    transform: none;
    text-decoration: none;
    
}
.talk{
    font-size: 15px;
    margin-right: 50px;
    padding: 5px;
    text-align: right;
}
.talk a{
    text-decoration: none;
    border: 7px solid;
    background-color: blueviolet;
    border-radius: 7px;
    
    
}
.footer{
    background-color: rgb(103, 201, 201);
    margin: 0;
    padding: 0;
    height: 30px;
    margin-top: 0;

}
#text{
    font-size: 12px;
    margin-top: 20px;
}

