<div class="logo" text-align="center">
  <span>guyesa</span>
  <div class="talk">
    <a routerLink="talk">TALK TO US</a>
  </div>
  
</div>
<div class="tabs" id="tabs-nav">
  
      <a routerLink="" routerLinkActive="active">Home</a>
      <a routerLink="prepare" routerLinkActive="active">Prepare To Travel</a>
      <a routerLink="plan" routerLinkActive="active">Plan And Book</a>
      <a routerLink="program" routerLinkActive="active">Loyalty Program</a>
      <a routerLink="about-us" routerLinkActive="active">About-Us</a>
      <a routerLink="contact" routerLinkActive="active">Contacts</a>
  
  
</div>
<router-outlet></router-outlet>
