.home{
    margin: 0;
    padding: 0;
    
}
.hero{
    text-align: center;
    margin-top: 100px;
}
.plan a{
    text-decoration: none;
    font-size: 25px;
    border: 10px solid;
    border-color: goldenrod;
    background-color: goldenrod;
    border-radius: 10px;
   
    
}
.plan{
    text-align: center;
    margin-top: 120px;
    
}